/* 
        Importation de la police d'écriture 
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* 
        Styles pour le corps de la page 
*/
body {
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    
}

/* 
        Styles pour l'en-tête 
*/
header {
    background-color: #fff;
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}

header span {
    color: #333;
    background-color: #fff;
}

/* 
        Styles de la barre de navigation
*/
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav list-style:last-child {
    margin-right: 0;
}

nav a {
    pointer-events: all;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    color: #000;
    border-bottom: 1px solid #000;
}

/* 
        Styles pour la main class
*/
main {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../assets/images/font.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* 
        Styles pour toute la "section" entière
*/

/* 
        Styles pour la section "presentation"
*/
section.prespers {
    background-color: rgba(145, 145, 145, 0.6);
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.5;
    color: white;
}

section.prespers h1 {
    font-size: 48px;
    margin-top: 0;
    text-decoration: underline;
    color: red;
}

section .prespers p {
    font-size: 18px;
    line-height: 1.5;
    color: white;
    padding: 10px;
}

/*
        Styles pour la section "prespro"
*/
section .prespro {
    background-color: rgba(145, 145, 145, 0.6);
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.5;
    color: white;
}

section.prespro h1 {
    text-align: center;
    font-size: 48px;
    margin-top: 0;
    text-decoration: underline;
    color: red;
}

section.prespro p {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    color: white;
    padding: 10px;
}

/* 
Styles pour la photo de profil 
*/
.profil-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.profil-image img {
    max-width: 20%;
    height: auto;
}

/* 
        Styles pour le pied de page 
*/
footer {
    background-color: #919191;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 16px;
}

/* 
        Responsive 
*/
@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .profil-image img {
        max-width: 75%;
    }
}

/* 
        data theme 
*/
html[data-theme="dark"] {
    background-color: #333;
    color:dark;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

section.dark-mode {
    background-color: rgba(51,51,51, 0.6);
    color: #fff;
}

header.dark-mode {
    background-color: gray;
    color: #fff;
}

span.dark-mode {
    color: #000;
    background-color: gray;
}

header nav.dark-mode {
    display: flex;
}

footer.dark-mode {
    background-color: #333;
    color: #fff;
}

.toggle-container {
    color: #ffffff;
}

.switch input:checked + .slider {
    background-color: #2196F3;
}

button.theme-toggle {
    color: #ffffff;
    background-color: #222222;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
}

button.theme-toggle:hover {
    background-color: #444444;
}
